<!DOCTYPE html>
<html lang="ja">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>管理者報告一覧</title>
   <link rel="stylesheet" th:href="@{/css/style.css}">
   <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
   <header>
      <div class="header-content">
         <div class="site-name">
            <h1>業務報告システム</h1>
         </div>

         <ul class="header-item">
           <li class="item-list" >
			<img  id="item-icon" th:src="@{${adminIconPath}}" alt="管理员头像">
            <li class="item-list" th:text="${admin.adminName}"></li>
            <li class="item-list"><a th:href="@{/admin/info/change}">管理者情報変更</a></li>
            <li class="item-list"><a th:href="@{/user/create}">ユーザー追加</a></li>
            <li class="item-list"><a th:href="@{/user/list}">ユーザー一覧</a></li>
            <li class="item-list"><a th:href="@{/user/reports}">報告事項一覧</a></li>
            <li class="item-list"><a th:href="@{/admin/logout}">ログアウト</a></li>
         </ul>
      </div>
   </header>
   
   <main>
      <div class="search-container">
         <form th:action="@{/search_reports}" method="POST">
            <label>報告事項一覧（検索結果）</label>
            <input type="text" name="search" placeholder="検索内容．．．">
            <button type="submit" class="search-button">検索</button>
         </form>
      </div>

         <div th:each="report : ${reports}" class="report-list">
            <form th:action="@{/delete_report}" method="POST">
               <div class="report-card">
                 <img th:src="${admin.adminIcon}" alt="ユーザー画像" class="report-image">
                  <div class="report-info">
                     <h3 th:text="${report.reportTitle}">報告事項</h3>
                     <p th:text="${report.contentsOfReport}">コンテンツ</p>
                  </div>
                  <div class="report-actions">
                     <div class="reporter-received">
                        <p class="reporter" th:text="${report.userName}">ユーザー名</p>
						<span th:if="${report.receiptFlg == 1}" class="received">受信済み</span>
						<span th:if="${report.receiptFlg == 0}" class="unconfirmed">未確認</span>
					</div>
                     <div class="detail-button-content">
                        <a th:href="@{'/user/report/details/'}" class="detail-button">報告詳細</a>
                        <input type="hidden" name="reportId" th:value="${report.reportId}">
                        <button type="submit" class="delete-button">削除</button>
                     </div>
                  </div>
               </div>
			   
			   </form>
            </div>

   <footer>
      <div class="footer-content" id="footer-report">
         <div>
            <ul class="footer-item" id="footer-item-report">
                  <li><a th:href="@{/info/edit/{adminId}}">情報変更</a></li>
                  <li>|</li>
                  <li><a th:href="@{/logout}">ログアウト</a></li>
            </ul>
         </div>
         <div>
            <p>Copyright &copy; 2024</p>
         </div>
      </div>
   </footer>
   
   
</body>
</html>
