<!DOCTYPE html>
<html lang="ja">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>ユーザー報告一覧</title>
   <link rel="stylesheet" th:href="@{/css/style.css}">
   <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
   <header id="header-user">
      <div class="header-content">
         <div class="site-name">
            <h1>業務報告システム</h1>
         </div>
         <ul class="header-item">
            <li class="item-list" id="item-icon"><a href="">アイコン</a></li>
            <li class="item-list"><a href="">ユーザー名前</a></li>
            <li class="item-list"><a href="">報告一覧</a></li>
            <li class="item-list"><a href="">情報変更</a></li>
            <li class="item-list"><a href="">ログアウト</a></li>
        </ul>
      </div>
   </header>
   
   <main>
      <div class="search-container">
         <label>報告事項一覧（検索結果）</label>
         <input type="text" placeholder="検索内容．．．">
         <button>検索</button>
      </div>

      <div class="report-button-content">
           <button id="report-create-button" class="report-button">報告登録</button>
      </div>
      
      <div class="report-list">
         <div th:each="report : ${reports}" class="report-card">
            <img src="" alt="ユーザー画像" class="report-image">
            <div class="report-info">
               <h3 th:text="${report.reportTitle}">報告事項</h3>
               <p th:text="${report.contentsOfReport}" class="content">コンテンツ</p>
            </div>
            <div class="report-actions">
               <div class="reporter-received">
                  <p th:text="${report.userName}" class="reporter">報告者名</p>
                  <span th:if="${report.receiptFlg == 1}" class="received">受信済み</span>
                  <span th:if="${report.receiptFlg == 0}" class="unconfirmed">未確認</span>
               </div>
               <div class="detail-button-content">
				<a th:href="@{'/user/report/details/'}" >
				    <button class="detail-button">報告詳細</button>
				</a>
                  <button class="delete-button" 
                          th:onclick="'window.location.href=\'/user/report/delete/' + ' + ${report.reportId} + ' + '\''">削除</button>
               </div>
            </div>
         </div>
      </div>
   </main>
   
   <footer id="footer-user">
      <div class="footer-content" id="footer-report">
         <div>
            <ul class="footer-item" id="footer-item-report">
               <li><a href="">情報変更</a></li>
               <li>|</li>
               <li><a href="">ログアウト</a></li>
            </ul>
         </div>
         <div>
            <p>Copyright &copy; 2024</p>
         </div>
      </div>
   </footer>
   
   <script src="/js/user_report_create.js"></script>
   
</body>
</html>