/************************bodyと＊全体のスタイル********************************/
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   font-family: Arial, sans-serif;
   background-color: #f2f2f2;
}
/************************bodyと＊全体のスタイルは以上です************************/


/**************************報告事項一覧（検索結果）******************************/
.search-container {
   margin-bottom: 20px; 
   display: flex;
   justify-content: center;
   padding: 150px;
   align-items: center;
   gap: 10px;
   margin-bottom: 50px;
}
.search-container input[type="text"] {
   width: 300px;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
   margin-right: 15px;
   margin-left: 20px;
}
.search-container button {
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   background-color: #8a9ca5;
   color: white;
   cursor: pointer;
}
/**************************報告事項一覧（検索結果）*************/


/********************************** user_list画面************************************/
.user-list {
   padding:30px;
   flex-grow: 1;
   margin-top: -200px; 
   flex-direction: column;
   align-items: center;
   position: relative;
   left:60px;
   gap: 15px;
   display: flex;
}
.user-card {
      background-color: white;
      border: 1px solid #ccc;
      border-radius: 15px;
      gap: 0 20px;
      align-items: center;
      display: flex;
      padding: 20px;
      width: 900px;
      position: relative;
}
.user-image {
   width: 100px;
   height: 100px;
   border: 1px solid #ccc;
   background-color: #eaeaea;
}
.user-info {
   flex-grow: 1;
}
.user-info p {
   margin: 5px 0;
}
.delete-button1 {
   position: absolute;
   bottom: 10px;
   right: 10px;
   padding: 5px 10px;
   background-color:#989696;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}
   

/********************************** user_list画面************************************/


/**********************************admin_reports画面************************************/ 
.report-list {
   padding:30px;
   flex-grow: 1;
   margin-top: -200px; 
   flex-direction: column;
   align-items: center;
   position: relative;
   left:60px;
   gap: 15px;
   display: flex;
}
.report-card {
   background-color: white;
   border: 1px solid #ccc;
   border-radius: 5px;
   width: 900px;
   display: flex;
   padding: 20px;
   gap: 0 20px;  /* 单个报告方框内各个元素的gap设定 */
   align-items: center;
   border-radius:15px;
}
.report-image {
   width: 100px;
   height: 100px;
   border: 1px solid #ccc;
   background-color: #eaeaea;
}
.report-info {
   flex-grow: 1;
}
.report-info h3 {
   margin-bottom: 10px;
}
.report-info p {
   margin-bottom: 10px;
}
.username {
   display: block;
   margin-top: 10px; 
   text-align: right; 
   position:relative;
   top:-70px;
   right:-200px;
}
.received {
   font-size: smaller;
   border:#5cb85c solid ;
   background-color: #5cb85c;
   padding:5px;
   color: #fff;
   position:relative;
   right:-120px;
   top:-60px;
}
.unconfirmed {
   font-size: smaller;
   border:#d9534f solid;
   background-color: #d9534f;
   padding:3px;
   color: #fff;
   position:relative;
   right:-120px;
   top:-60px;
}
.correction {
   font-size: smaller;
   border: #0275d8 solid;
   background-color: #0275d8;
   padding:3px;
   color: #fff;
   position:relative;
   right:-120px;
   top:-60px;
}
.report-actions {
   display: flex;
   flex-direction: column;
   display: inline-block;  /*  buttonを並べて置きます */
   position: relative;
   right:5px;
   top:50px;
}
.delete-button {
   background-color: #989696;
   color: white;
   padding: 8px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   margin-right: 1px;
   position: relative;
   top:-10px;
}
.detail-link {
   background-color:#5475a8b3;
   color: white;
   padding: 8px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   margin-right: 1px;
   position: relative;
   top:-10px;
}
/**********************************admin_reports画面************************************/ 


/*********************************** user_reports画面************************************/ 
.report-button{
   border: 0.5px solid #8dec8d ;
   background-color:rgb(215, 238, 212);
   width:110px;
   height:35px;
   font-size: large;
   font-weight: bolder;
   border-radius: 5px;
   position: relative;
   left:240px;
   top:-180px;
}
.reporter{
   display: block;
   margin-top: 10px; 
   text-align: right; 
   position:relative;
   top:-80px;
   right:-200px;
}
/*********************************** user_reports画面************************************/ 